* {
	box-sizing: border-box;
}

td {
	width: 40px;
	height: 40px;
	border: 1px solid black;=
}

td > a {
	width: 75%;
	height: 75%;
	margin: 12.5%;
	display: block;
	color: #FFF;
	text-align: center;
	text-decoration: none;
}